html { padding:0px 0px 20px 0px; }

body {
	padding: 10px 15px;
font-family: "Whitney SSm A","Whitney SSm B","Georgia","Times New Roman",Serif;
border: 1px solid #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin:0;

}
body:focus{
outline: none;
}
